[Uzemszunet]

; Ezeket a településeket fogja keresni a rendszer.
; Ügyelj arra, hogy megfelelő formában add meg a település nevét!
; Célszerű ellenőrizni a szolgáltató által biztosított fájlt!
telepulesek = ["Budapest", "Debrecen"]

; Ennyi nappal az áramszünet előtt menjen az értesítő
; 0 = Az áramszünet napján is szól
; Több nap is megadható vesszővel elválasztva
notifcation_days = [0, 1, 3, 7]

[Email]
; Erre az E-mail címre fogja küldeni a program az üzemszünetek listáját!
to_mail = example@gmail.com

smtp_host = smtp.gmail.com
smtp_port = 465

; Erről az E-mail címről fog menni az üzenet. (Lehet ugyanaz mint a to_mail!)
user = example@gmail.com

; Ha G-mail-t használsz akkor létre kell hozni egy jelszót az alkalmazáshoz!
; https://myaccount.google.com/security
password = myAppPassword

[EON]
; Ez a XLS fájlnak a letöltési útvonala.
; Ezt neked csak akkor kell módosítani, ha megváltozik az EON-nál az elérési útvonal.
xls_url = https://fbapps.cloudwave.hu/eon/eonuzemzavar/page/xls