body {
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size  : 16px;
	font-weight: normal;
}

.outer-wrapper {
	overflow: hidden;

	@media (max-width: 767px) {
		overflow: auto;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	margin : 0;
	padding: 0;
}

h1 {
	color         : @color-dark;
	font-family   : 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size     : 36px;
	font-style    : normal;
	font-weight   : bold;
	line-height   : 120%;
	letter-spacing: normal;
	margin-top    : 0 !important;
}

h2 {
	color         : @spirit-pink;
	font-family   : 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size     : 30px;
	font-style    : normal;
	font-weight   : normal;
	line-height   : 125%;
	letter-spacing: normal;
	margin-top    : 5rem !important;
	margin-bottom : 1rem;
}

h3 {
	color         : @spirit-pink;
	font-family   : 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size     : 21px;
	font-style    : normal;
	font-weight   : normal;
	line-height   : 1.2em;
	padding-top   : 0.8em;
	padding-bottom: 0.5em;
	letter-spacing: normal;
}

h4 {
	color         : @color-dark;
	font-family   : 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size     : 15px;
	font-style    : normal;
	font-weight   : bold;
	line-height   : 125%;
	letter-spacing: normal;
	padding-top   : 2em;
	padding-bottom: 0.5em;
}

p {
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size  : 14px;
	font-weight: normal;
}

.documentDescription {
	font-size    : 1.8rem;
	line-height  : 2.6rem;
	margin-bottom: 2rem;
}

#content p,
#content li {
	font-size    : 1.6rem;
	color        : @color-dark;
	line-height  : 2.4rem;
	margin-bottom: 16px;
	font-weight  : 300;
}

#content li {
	margin-bottom: 0.25em;
}

h1.documentFirstHeading {
	border-bottom: none;
}

a {
	color        : @spirit-pink;
	border-bottom: none !important;

	&:focus {
		outline        : none;
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}
}

.align-right {
	text-align: right;

	.voir-tout {

		&,
		&:hover,
		&:focus,
		&:active {
			display        : block;
			display        : flex;
			justify-content: end;
			flex-direction : row-reverse;
			align-items    : center;
			font-size      : 1.8rem;

			&::before {
				margin-left    : 1rem;
				color          : @color-light;
				content        : "+";
				display        : inline-block;
				font-size      : 20px;
				height         : 60px;
				width          : 60px;
				background     : @spirit-pink;
				display        : flex;
				justify-content: center;
				align-items    : center;
			}
		}
	}
}

#login-form {
	.formControls {
		padding-left: 0;
	}
}

#buttons-login,
#form-buttons-register {
	background-color: @spirit-pink;
	border          : none;
	color           : @color-light
}

@media (max-width: 767px) {
	.outer-wrapper .container #main-container {
		margin: 0;
	}

	#sidebar {
		width: 100%;
	}
}

#content-core img {
	max-width: 100%;
}

#form-widgets-import_list-from {
	width: 100%;

	option {
		overflow-x: scroll;
	}
}

.mosaic-grid-row:nth-child(2n) {
	margin : 2rem -1.5rem;
	padding: 5rem 0;

	&::before {
		content         : " ";
		display         : block;
		background-color: #f2f2f2;
		width           : 100vw;
		height          : 100%;
		top             : 0;
		left            : 50%;
		position        : absolute;
		transform       : translateX(-50%);
		z-index         : -1;
	}
}